@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

:root {
  --backcolor: #CBC5EA;
  --primary-color: #b5e2fa;
  --text-color: #020202;
  --accent-color: #fab3a9;
}

body {
  background: var(--backcolor);
}

.container {
  background: linear-gradient(
    135deg,
    var(--primary-color),
    var(--accent-color)
  );
  width: 90%;
  max-width: 600px;
  margin: 100px auto 0;
  padding: 40px 35px;
  border-radius: 20px;
  text-align: center;
  animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.search-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  animation: slideIn 1s ease-in-out;
}

@keyframes slideIn {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.search-box input {
  border: 0;
  outline: 0;
  background: var(--primary-color);
  color: var(--text-color);
  padding: 10px 25px;
  height: 60px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

.search-box input:focus {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-box button {
  padding: 5px 10px;
  border-radius: 50%;
  border: 0;
  outline: 0;
  background: var(--accent-color);
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.search-box button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-box button img {
  width: 16px;
  height: 20px;
}

::placeholder {
  font-size: 20px;
}

.weather-icon {
  width: 170px;
  margin-top: 30px;
  animation: bounceIn 1.5s ease-in-out;
}

@keyframes bounceIn {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.weather h1 {
  font-size: 80px;
  font-weight: 500;
  animation: fadeIn 1.5s ease-in-out;
}

.weather h2 {
  font-size: 45px;
  font-weight: 400;
  margin-top: -10px;
  animation: fadeIn 1.5s ease-in-out;
}

.details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding: 0 20px;
  margin-top: 50px;
}

.col {
  display: flex;
  align-items: center;
  text-align: left;
}

.col img {
  width: 40px;
  margin-right: 10px;
}

.humidity,
.wind {
  font-size: 28px;
  margin-top: -6px;
}

.sunrise,
.sunset {
  font-size: 28px;
  margin-top: -6px;
}

.weather {
  display: none;
}

.error {
  text-align: left;
  margin-left: 10px;
  font-size: 14px;
  margin-top: 10px;
  display: none;
}
